# Dependencias para Carga de Datos y EDA
pandas
numpy
matplotlib
seaborn
kagglehub[pandas-datasets] 
# Dependencias para Machine Learning
scikit-learn
joblib
# Dependencias para API
fastapi
uvicorn
# Dependencias para Modelos
xgboost